@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&family=Work+Sans:ital,wght@0,400;0,700;1,400&display=swap');


* {
    box-sizing: border-box;
}
body {
    color: rgb(57, 51, 51);
    background-color: rgb(247, 251, 255);
    font-family: 'Noto Sans', 'Work Sans', sans-serif;
}
.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.flex_section {
    display: flex;
    justify-content: space-between;
}

.bands, .bookings, .venues {
    background-color: azure;
    border-radius: 10px;
    box-shadow: -1px 1px 5px darkslategrey;
    padding: 0.5rem 0.75rem;
    margin: 0.5rem 0.25rem;
}

.bands, .venues {
    width: 48%;
}