* {
    box-sizing: border-box;
}

.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.flex_section {
    display: flex;
    justify-content: space-evenly;
}

.bands, .bookings, .venues {
    border: 2px dashed slateblue;
    padding: 0 0.5rem;
    margin: 0.5rem 0.25rem;
}